<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4C9wNFGStNkYUj9XCuLBTWCcHFH8yB8A</string>
	<key>GCM_SENDER_ID</key>
	<string>371226462248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce1flutter-ae9dc</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce1flutter-ae9dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371226462248:ios:13b134a0e6645302c30d1d</string>
</dict>
</plist>